#Sidebar {
position: absolute;
width: 207px;
height: 762px;
left: 0px;
top: 70px;

background: linear-gradient(180.01deg, #FA644B 0.01%, #6AA4A3 74.8%);
}

#Sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#Sidebar li {
    margin-bottom: 5px;
    padding-left: 32px;
    padding-top: 10px;
}

#Sidebar a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #EDEDED;
}

#Footer {
    list-style-type: none;
    position: absolute;
    width: 167px;
    height: 93px;
    top: 625px;
    left: 0px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 13px;
}

.header {
    position: absolute;
    width: 1440px;
    height: 69px;
    left: 0px;
    top: 0px;
    
    background: #FA644B;
}

#infopanel {
    position: absolute;
    width: 1075px;
    height: 40px;
    top: 84px;
    left: 271px;
    background-color: #EDEDED;
}

#user {
    position: absolute;
    top: 22px;
    left: 1280px;
}

.button1 {
    position: absolute;
    width: 74.08px;
    height: 33px;
    top: 87px;
    left: 100px;
    left: 22.97%;
    right: 71.24%;
    top: 10.46%;
    bottom: 85.58%;
    background-color: #6AA4A3;
    border-radius: 16.5px;
}

.button2 {
    position: absolute;
    width: 74.08px;
    height: 33px;
    top: 87px;
    left: 180px;
    left: 30.39%;
    right: 63.82%;
    top: 10.46%;
    bottom: 85.58%;
    background-color: #EDEDED;
    border-radius: 16.5px;
}

.button3 {
    position: absolute;
    width: 100px;
    height: 33px;
    top: 88px;
    left: 260px;
    left: 37.58%;
    right: 54.61%;
    top: 10.58%;
    bottom: 85.46%;
    background-color: #EDEDED;
    border-radius: 16.5px;
}

#logo {
    position: absolute;
    top: 14px;
    left: 14px;
}

.container .log {
    position: absolute;
    width: 96px;
    height: 34px;
    left: 1180px;
    top: 16px;
    background: #EDEDED;
    border-radius: 16.5px;
}

.container .reg {
    position: absolute;
    width: 96px;
    height: 34px;
    left: 32px;
    top: 650px;
    background: #EDEDED;
    border-radius: 16.5px;
}

#search {
    position: absolute;
    width: 425px;
    height: 33px;
    left: 271px;
    top: 18px;
    background: #EDEDED;
    border-radius: 16.5px;
}

#search input[type="search"] {
    width: 100%;
    height: 100%;
    padding: 6px;
    border: none;
    border-radius: 16.5px;
    background: transparent;
    color: #000000;
    font-size: 14px;
    outline: none;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
}
