#Sidebar {
position: absolute;
width: 207px;
height: 557px;
left: 0px;
top: 70px;

background: linear-gradient(180.01deg, #FA644B 0.01%, #6AA4A3 74.8%);
}

#Sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#Sidebar li {
    margin-bottom: 5px;
    padding-left: 32px;
    padding-top: 10px;
}

#Sidebar a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #EDEDED;
}

#Footer {
    list-style-type: square;
    width: 1000px;
}

.header {
    position: absolute;
    width: 1280px;
    height: 69px;
    left: 0px;
    top: 0px;
    
    background: #FA644B;
}

#logo {
    position: absolute;
    top: 21px;
    left: 32px;
}

.container {
    position: absolute;
    top: 18px;
    left: 1100px;
    outline: none !important;
}

.container .log {
    position: absolute;
    width: 94px;
    height: 33px;
    left: 0;
    top: 0;
    background: #EDEDED;
    border-radius: 16.5px;
}

.container .reg {
    position: absolute;
    width: 94px;
    height: 33px;
    left: 104px;
    top: 0;
    background: #EDEDED;
    border-radius: 16.5px;
    display: none;
}


#search {
    position: absolute;
    width: 425px;
    height: 33px;
    left: 208px;
    top: 18px;
    background: #EDEDED;
    border-radius: 16.5px;
}

#search input[type="search"] {
    width: 100%;
    height: 100%;
    padding: 6px;
    border: none;
    border-radius: 16.5px;
    background: transparent;
    color: #000000;
    font-size: 14px;
    outline: none;
}
.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
}